<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <style>
        body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; text-align: center; }

    </style>
</head>

<body>
<script>
    var data = [
        {label: 'evChargingTime', count: 30, percentage: 30, color: '#00d392'},
        {label: 'averageChargingTime', count: 10, percentage: 40, color: '#c1c1c1'},
        {label: 'maxChargingTime', count: 20, percentage: 60, color: '#dbdbdb'},
    ];
    var totalCount = 112;

    var width = 540,
        height = 540,
        radius = 200;

    var arc = d3.arc()
        .outerRadius(radius - 50)
        .innerRadius(100);

    var pie = d3.pie()
        .startAngle(-90 * (Math.PI/180))
        .endAngle(90 * (Math.PI/180))
        .sort(null)
        .value(function(d) {
            return d.count;
        });

    var svg = d3.select('body').append("svg")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var g = svg.selectAll(".arc")
        .data(pie(data))
        .enter().append("g");

    g.append("path")
        .attr("d", arc)
        .style("fill", function(d,i) {
            return d.data.color;
        });

    g.append("text")
        .attr("transform", function(d) {
            var _d = arc.centroid(d);
            _d[0] *= 1.5;
            _d[1] *= 1.5;
            return "translate(" + _d + ")"; // [220, -10]
        })
        .attr("dy", ".50em")
        .style("text-anchor", "middle")
        .style('fill', function(d,i){
            if(d.data.label === 'maxChargingTime') {
                return '#8e8e8e'
            }
        })
        .text(function(d) {
            // if(d.data.percentage < 8) {
            //     return '';
            // }
            return d.data.percentage;
        })

    g.append("text")
        .attr("text-anchor", "middle")
        .attr('font-size', '2em')
        .attr('y', -15)
        // .text(totalCount)
        .text(function(d){
            if (d.data.label === 'evChargingTime') {
                return d.data.percentage
            }
        })

</script>
</body>